<template>
    <quill-editor id="quill" ref="quillEditor" v-model="message.body" :options="editorOption"></quill-editor>
</template>

<script>

import { mapState } from 'vuex';
import { quillEditor, Quill } from 'vue-quill-editor';
import 'quill-emoji/dist/quill-emoji.css';
import 'quill/dist/quill.core.css'; // import styles
import 'quill/dist/quill.snow.css'; // for snow theme
import 'quill/dist/quill.bubble.css'; // for bubble theme
import * as Emoji from "quill-emoji";
Quill.register("modules/emoji", Emoji);

export default {
    name:"Editor",
    components:{
       quillEditor
    },
    props:{
         message: Object
    },
    data: ()=>{
        return {
            ...mapState(['host']),
            editorOption: {
                debug: 'info',
                modules:{
                    "emoji-toolbar": true,
                    "emoji-textarea": true,
                    "emoji-shortname": true,
                    toolbar: [
                        [{ 'header': [1, 2, 3, 4, 5, 6, false] }],
                        [{ 'font': [] }],
                        [{ 'size': ['small', false, 'large', 'huge'] }],
                        ['bold', 'italic','underline','strike','clean'], 
                        [{ 'color': [] }, { 'background': [] }],
                        [{ 'align': [] }],
                        ['blockquote'],
                        [{ 'list': 'ordered'}, { 'list': 'bullet' }],
                        [{ 'indent': '-1'}, { 'indent': '+1' }], 
                        ['link', 'image', 'video'],
                        ['emoji']
                    ]
                },
                placeholder : 'Écrivez votre message',
                theme: 'snow'
            }
        }
    },
    computed:{
        
    },
    methods:{
        
    }
}

</script>

<style lang="scss">
    ql-container{
        box-sizing: border-box;
        width: max-content;
        height: max-content;
    }
</style>