<template>
    <footer class="footer">
        <ul class="footer__list">
            <li><a href="#">Groupomania</a></li>
            <li><a href="https://gitlab.com/AkuraOne/YannGalvaing_7_28012022"><i class="icon-gitlab"></i> GitLab</a></li>
            <li><a href="https://www.linkedin.com/in/y-galvaing"><i class="icon-linkedin"></i> Linkedin</a></li>
        </ul>
    </footer>
</template>

<script>
export default {
    name:"Footer",
    components:{
    }
}
</script>

<style lang="scss" scoped>
.footer{
    border-radius: 0 0 1.5em 1.5em;
    width: 100%;
    background: var(--primary-color);
    &__list{
        list-style: none;
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: space-around;
        & i{
            font-size: 20px;
        }
        & a{
            text-decoration: none;
            color: white;
            font-weight: bold;
        }
        & > li > a:hover{
            color: var(--secondary-color);
        }
    }
}
</style>