<template>
    <header class="header">
        <div class="header__title">
            <router-link to="/"><img class="headerTitle__logo" alt="logo groupomania" src="../assets/logo/icon-left-font.svg" /></router-link>
            <h1>{{msg}}</h1>
        </div>
        <div class="header__login">
            <div>
                <input id="btn-menu" type="checkbox" />
                <label title="Menu" for="btn-menu">
                    <img v-show="getIsConnected && user.avatarURL" alt="avatar" class="header__login__avatar btn btn--darken btn--scale" :src="user.avatarURL" />
                    <div v-show="!getIsConnected || !user.avatarURL" :class="['icon-user-circle-solid', 'btn', 'btn--darken', 'btn--scale', 'header__login__avatar', user.isAdmin ? 'btn--tertiary' : '']"></div>
                </label>
                <ul class="header__login__menu">
                    <li v-show="getIsConnected" @click="close()"><router-link to="/profile">Profile</router-link></li>
                    <li v-show="!getIsConnected" @click="close()"><router-link to="/signin">Connexion</router-link></li>
                    <li v-show="!getIsConnected" @click="close()"><router-link to="/signup">Inscription</router-link></li>
                    <li v-show="getIsConnected" @click="close()"><router-link to="/signin" @click.native="logout()">Déconnexion</router-link></li>
                </ul>
            </div>
            <div class="header__login__search">
                <i role="button" title="Rechercher" aria-label="Rechercher" v-show="getIsConnected" @click="searchMessage(searchText)" class="icon-search btn btn--scale"></i><input type="text" title="Texte à rechercher" aria-label="Texte à rechercher" v-show="getIsConnected" id="searchMessage" v-model="searchText" @keyup="beforeSearchMessage" cols="25" rows="1" wrap="hard" placeholder="Rechercher un post..." />
            </div>
        </div>
    </header>
</template>

<script>
import { mapActions, mapGetters, mapState } from 'vuex'

export default {
  name: 'Header',
  data: ()=>{
      return {
          searchText: ""
      }
  },
  props: {
    msg: String
  },
  computed:{
      ...mapState(['user']),
      ...mapGetters(['getIsConnected'])
  },
  methods:{
      ...mapActions(['logout','searchMessage']),
      close(){
        let btnMenu = document.getElementById("btn-menu");
        btnMenu.checked = !btnMenu.checked;
      },
      beforeSearchMessage(e){
          if(e.key =="Enter"){
              this.searchMessage(e.target.value);
          }
      }
  },
  created() {
    
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.header{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background: var(--primary-color);
    border-radius: 1.5em 1.5em 0 0;
    z-index: 15;
    box-shadow: 0px 12px 12px -10px rgb(94, 94, 94);
    &__title{
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        align-items: center;
        &:nth-child(1){
            justify-self: center;
        }
    }
    &__login{
        display: flex;
        flex-flow: column nowrap;
        margin: 10px 10px 15px auto;
        align-items: flex-end;
        color: white;
        font-size: 50px;
        & > div{
            display: flex;
        }
        & #btn-menu{
            visibility: collapse;
            &:checked + label + .header__login__menu{
                visibility: visible;
                opacity: 1;
            }
        }
        &__menu{
            position:absolute;
            top:60px;
            right: 3px;
            visibility: collapse;
            opacity: 0;
            padding: 0;
            margin: 5px;
            font-size: 12px;
            list-style: none;
            background: white;
            border-radius: 1.2em;
            box-shadow: 0px 3px 6px rgb(94,94,94);
            transition: 400ms opacity ease-in-out;
            & li{
                margin:10px;
                & a{
                    color: var(--primary-color);
                    &:visited{
                        color: var(--primary-color);
                    }
                    &:hover{
                        color: var(--secondary-color);
                    }
                }
            }
        }
        & a{
            text-decoration: none;
            color: white;
            &:visited{
                color: white;
            }
        }
        &__avatar{
            margin: 0;
            object-fit: cover;
            width: 50px;
            height: 50px;
            font-size: 52px;
            border-radius: 2em;
            padding: 0;
            cursor: pointer;
        }
        &__search{
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            justify-content: space-between;
            margin: 10px auto;
            & > [class*="icon-search"]{
                margin-left: 10px;
                font-size: 20px;
                order:2;
            }
            #checkSearch{
                opacity: 0;
                width: 0px;
                order: 3;
            }
            #searchMessage{
                order: 1;
                margin-right: 10px;
                transition: width 400ms ease-in-out, opacity 100ms ease-in-out;
                resize: none;
                height: 1em;
            }
        }
    }
}

.icon-user-circle-solid{
    margin-bottom: 10px;
}
</style>