<template>
    <nav class="menu">
        <ul class="menu__lists">
            <li><div class="menu__display-message"><router-link aria-label="Afficher les messages" to="/"><i role="button" title="Afficher les messages" class="icon-comments btn btn--darken btn--scale"></i><span>Afficher les messages</span></router-link></div></li>
            <li><div class="menu__write-message"><router-link aria-label="Envoyer un message" to="/message"><i role="button" title="Poster un message" class="icon-comment_solid btn btn--darken btn--scale"></i><span>Poster un message</span></router-link></div></li>
            <li><div class="menu__photo-message"><i role="button" class="icon-image btn btn--darken btn--primary btn--scale" title="Poster une image"></i></div></li>
            <li><div class="menu__video-message"><i role="button" class="icon-video btn btn--darken btn--green btn--scale" title="Poster une vidéo"></i></div></li>
        </ul>
        <i class="menu__open icon-chevron-right btn btn--darken btn--primary-color"></i>
    </nav>
</template>

<script>

export default {
    name:"Menu",
    components:{
    },
    computed:{
        
    }
}
</script>

<style scoped lang="scss">
.menu{
    position: absolute;
    top: 6.5em;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    background: var(--tertiary-color);
    padding: 10px;
    margin: -15px -10px 20px -10px;
    box-shadow: 0px 12px 12px -10px rgb(94, 94, 94);
    border-radius: 0 0 1.5em 1.5em;
    transition: margin-top 0.4s ease-in-out;
    width: 15em;
    &:hover{
        margin-top:25px;
        & .menu__open{
            transform: rotate(-90deg);
        }
    }
    &__lists{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-items: center;
        list-style: none;
        font-size: 25px;
        padding: 0;
        margin: 0;
        & li a{
            display:flex;
            text-decoration: none;
            &:visited{
                color: var(--primary-color);
            }
        }
    }
    &__lists:nth-child(2){
        margin-top: 0.25em;
    }
    &__display-message, &__write-message{
        & span{
            display: none;
        }
    }
    &__write-message{
        margin-left: 1.5em;
    }
    &__photo-message{
        margin-left: 1.5em;
    }
    &__video-message{
        margin-left: 1.5em;
    }
    &__open{
        margin-top: 5px;
        transform: var(--rotate);
        text-shadow: 0px 3px 14px rgb(94, 94, 94);
        transition: transform 0.4s ease-in-out;
    }
}
</style>