<template>
    <div class="message" :id-author="message.User.id" @keydown="beforeUpdateMessage">
        <div class="message__header">
            <div class="message__header__identity">
                <img v-show="message.User.avatarURL" class="message__header__identity__avatar" alt="avatar" :title="message.User.pseudo" :src="message.User.avatarURL" />
                <i v-show="!message.User.avatarURL" :title="message.User.pseudo" class="icon-user-circle-solid message__header__identity__avatar"></i>
                <h3 class="message__header__identity__pseudo">{{message.User.pseudo}}</h3>
            </div>
            <div class="message__header__date">{{formatDate(message.date)}}</div>
        </div>
        <div v-if="!editMode" class="message__content" v-html="message.body" ></div>
        <Editor v-else-if="editMode" class="message__content"  :message="message"></Editor>
        <!--<div class="message__comments">
            <div id_comment="1" class="message__comments__comment">
                <richtextarea class="" disabled>

                </richtextarea>
            </div>
        </div>-->
        <div class="message__footer">
            <div class="message__footer__vote">
                <i :id="`like${message.id}`" class="icon-thumbs-up-solid btn btn--scale btn--tertiary" @click="like(message)" title="Approuver"></i>&nbsp;<span>{{message.likes}}</span>&nbsp;
                <i :id="`dislike${message.id}`" class="icon-thumbs-down-solid btn btn--scale btn--tertiary" @click="dislike(message)" title="Désapprouver"></i>&nbsp;<span>{{message.dislikes}}</span> 
            </div>
            <div class="message__footer__comments">
                <i :id="`comment${message.id}`" title="Commenter" class="icon-comment-alt_solid btn btn--scale btn--tertiary"></i>&nbsp;<span>0</span>
            </div>
            <div v-if="(user.id == message.User.id || user.isAdmin)" class="message__footer__tools">
                <i v-if="!editMode" title="Editer le message" @click="mode({isCanceled:false})" class="icon-edit btn btn--darken btn--primary"></i>
                <i v-if="!editMode" title="Supprimer le message" @click="deleteMessage(message)" class="icon-trash-alt btn btn--scale btn--red"></i>
                <i v-if="editMode" title="Annuler" @click="mode({isCanceled:true})" class="icon-cancel-circle btn btn--scale btn--tertiary"></i>
                <i v-if="editMode" title="Valider" @click="updatePost(message)" class="icon-checkmark btn btn--primary btn--darken"></i>
            </div>
        </div>
    </div>
</template>

<script>
import { mapActions, mapState } from "vuex";
import Editor from "../components/Editor.vue";

export default {
    name:"Message",
    components:{
        Editor
    },
    props:{
        message:{
            UserId: {type: Number, required: true},
            User: {type: Object, required: true},
            id: {type: Number, required: true},
            date: {type: Date},
            body: {type: String, default: ""},
            likes: {type: Number, default: 0},
            dislikes: {type: Number, default: 0}
        }
    },
    data:()=>{
        return {
            editMode : false,
            oldMessage : Object
        }
    },
    computed:{
        ...mapState(['user'])
    },
    methods:{
        ...mapActions(['getUserLike','getUserDislike','updateLike','updateDislike','deleteMessage','updateMessage']),
        formatDate(dateString){
            const dateObject = new Date(dateString);
            const date = dateObject.getDate();
            const year = dateObject.getFullYear();
            const hours = dateObject.getHours() < 10 ? ("0" + dateObject.getHours().toString()) : dateObject.getHours();
            const month = dateObject.getMonth() <= 8 ? ("0" + (dateObject.getMonth() + 1).toString()) : (dateObject.getMonth() + 1).toString();
            const seconds = dateObject.getSeconds() < 10 ? ("0" + dateObject.getSeconds().toString()) : dateObject.getSeconds();
            const minutes = dateObject.getMinutes() < 10 ? ("0" + dateObject.getMinutes().toString()) : dateObject.getMinutes();
            return `Le ${date}.${month}.${year} à ${hours}:${minutes}:${seconds}`;
        },
        beforeUpdateMessage(e){
            if(e.ctrlKey && e.keyCode == 13)
            {
                this.updatePost(this.message);
            }
        },
        mode(cancel){
            if(this.editMode && cancel.isCanceled){
                //console.log(this.oldMessage);
                this.message.body = this.oldMessage;
                //console.log("canceling...");
            }

            this.editMode = !this.editMode;
        },
        async updatePost(message){
            await this.updateMessage(message);
            this.editMode = false;
        },
        async like(payload){
            var btnLike = document.querySelector(`#like${this.message.id}`);
            var btnDislike = document.querySelector(`#dislike${this.message.id}`);
            let isLike = await this.updateLike(payload);
            if(isLike){
                btnLike.classList.remove("btn--tertiary");
                btnLike.classList.add("btn--green");

                btnDislike.classList.remove("btn--red");
                btnDislike.classList.add("btn--tertiary");
            }else{
                btnLike.classList.remove("btn--green");
                btnLike.classList.add("btn--tertiary");
            }
        },
        async dislike(payload){
            var btnDislike = document.querySelector(`#dislike${this.message.id}`);
            var btnLike = document.querySelector(`#like${this.message.id}`);
            let isDislike = await this.updateDislike(payload);
            if(isDislike){
                btnDislike.classList.remove("btn--tertiary");
                btnDislike.classList.add("btn--red");

                btnLike.classList.remove("btn--green");
                btnLike.classList.add("btn--tertiary");
            }else{
                btnDislike.classList.remove("btn--red");
                btnDislike.classList.add("btn--tertiary");
            }
        }
    },
    created() {
        this.getUserLike({userId: this.user.id, messageId: this.message.id}).then(like=>{
            var btnLike = document.querySelector(`#like${this.message.id}`);
            if(like){
                btnLike.classList.remove("btn--tertiary");
                btnLike.classList.add("btn--green");
            }else{
                btnLike.classList.remove("btn--green");
                btnLike.classList.add("btn--tertiary");
            }
        });
        
        this.getUserDislike({userId: this.user.id, messageId: this.message.id}).then(dislike=>{
            var btnDislike = document.querySelector(`#dislike${this.message.id}`);
            if(dislike){
                btnDislike.classList.remove("btn--tertiary");
                btnDislike.classList.add("btn--red");
            }else{
                btnDislike.classList.remove("btn--red");
                btnDislike.classList.add("btn--tertiary");
            }
        });

        this.oldMessage = this.message.body;
    },
}
</script>

<style lang="scss">
.popup{
    position: absolute;
    top: 50%;
    left: 50%;
}
.message{
    display: flex;
    flex-flow: column nowrap;
    width: 60%;
    border-radius: 1.5em;
    box-shadow: 0px 3px 14px rgb(94, 94, 94);
    background: white;
    padding:20px;
    margin-bottom: 25px;
    &__header{
        display:flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 15px;
        margin: 5px;
        border-bottom: 2px solid var(--secondary-color);
        &__identity{
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            &__avatar{
                font-size: 52px;
                width: 50px;
                height: 50px;
                border-radius: 2em;
                box-shadow: 0px 3px 6px rgb(94,94,94);
                object-fit: cover;
            }
        }
    }
    &__content{
        display: flex;
        flex-flow: column wrap;
        height: auto;
        width: auto;
        & iframe{

            min-height: 25em;
        }
        & img,& iframe{
            max-width: 100%;
            box-sizing: content-box;
        }
    }
    &__footer{
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        margin-top: 1em;
        &__vote, &__comments {
            display:flex;
            flex-flow: row wrap;
            align-items: center;
            & [class*="icon-"] {
                font-size: 20px;
                margin-left: 1em;
            }
        }
        &__tools{
            display: flex;
            flex: 1;
            justify-content: flex-end;
            & [class*="icon-"] {
                font-size: 25px;
                margin-left: 1em;
            }
        }
    }
}

.icon-user-circle-solid{
    //margin-bottom: 10px;
}
</style>