<template>
    <div>
        <div class="main__title">
            <h2>Les derniers posts </h2>
        </div>
        <div class="main__messages">
            <Message v-for="msg in getMessages" 
            :key="msg.id" 
            :message="msg" />
        </div>
    </div>
</template>

<script>
// @ is an alias to /src
import Message from "../components/Message.vue";
import { /*mapState,*/ mapGetters, mapActions } from 'vuex';


export default {
  name: 'Home',
  components: {
      Message
    //Editor
  },
  data:()=>{
    return {
      
    }
  },
  computed:{
      ...mapGetters(['getMessages'])
  },
  methods: {
      ...mapActions(['downloadMessages'])
  },
  created: function() {
      this.downloadMessages();
  }
}
</script>

<style lang="scss">
.main{
    & > div{
      display: flex;
      flex-flow: column wrap;
      align-items: center;
      width: 100%;
    }
    &__title{
      margin-top: 45px;
      margin-bottom: 15px;
    }
    &__messages{
      display: flex;
      flex-flow: column wrap;
      align-items: center;
      width: 100%;
    }
}
</style>