<template>
    <div class="post" :id-author="user.id">
        <div class="post__header">
            <div class="post__header__identity">
                <img v-show="user.avatarURL" class="post__header__identity__avatar" alt="avatar" :title="user.pseudo" :src="user.avatarURL" />
                <i v-show="!user.avatarURL" :title="user.pseudo" :class="['icon-user-circle-solid', 'post__header__identity__avatar', user.isAdmin ? 'btn--tertiary' : '']"></i>
                <h3 class="post__header__identity__pseudo">{{user.pseudo}}</h3>
            </div>
            <div class="post__header__date">{{formatDate(message.date)}}</div>
        </div>
        <Editor class="post__body" :message="message"></Editor>
        <!--<div class="post__comments">
            <div id_comment="1" class="post__comments__comment">
                <richtextarea class="" disabled>

                </richtextarea>
            </div>
        </div>-->
        <div class="post__footer">
            <router-link to="/"><i role="button" title="Annuler" class="icon-cancel-circle btn btn--tertiary btn--darken btn--scale"></i></router-link>
            <i role="button" title="Poster le message" @click="postMessage(message)" class="icon-envelope btn btn--primary btn--darken btn--scale"></i>
        </div>
    </div>
</template>

<script>
import Editor from "@/components/Editor.vue";
import { mapActions, mapState } from 'vuex';

export default {
    name: "Message",
    components:{
        Editor
    },
    data:()=>{
        return {
            message:{
                date: new Date(),
                body: "",
                likes: 0,
                dislikes: 0
            }
        }
    },
    computed:{
        ...mapState(['user'])
    },
    methods:{
        ...mapActions(['postMessage']),
        formatDate(dateString){
            const dateObject = new Date(dateString);
            const date = dateObject.getDate();
            const year = dateObject.getFullYear();
            const hours = dateObject.getHours() < 10 ? ("0" + dateObject.getHours().toString()) : dateObject.getHours();
            const month = dateObject.getMonth() <= 8 ? ("0" + (dateObject.getMonth() + 1).toString()) : (dateObject.getMonth() + 1).toString();
            const seconds = dateObject.getSeconds() < 10 ? ("0" + dateObject.getSeconds().toString()) : dateObject.getSeconds();
            const minutes = dateObject.getMinutes() < 10 ? ("0" + dateObject.getMinutes().toString()) : dateObject.getMinutes();
            return `Le ${date}.${month}.${year} à ${hours}:${minutes}:${seconds}`;
        }
    },
    created() {
       
    },
}

</script>

<style lang="scss" scoped>
@import "../sass/button.scss";
    .post{
        display: flex;
        flex-flow: column nowrap;
        align-items: stretch;
        width: 60%;
        border-radius: 1.5em;
        box-shadow: 0px 3px 14px rgb(94, 94, 94);
        background: white;
        padding:20px;
        margin-top: 30px;
        margin-bottom: 25px;
        &__header{
            display:flex;
            flex-flow: row wrap;
            justify-content: space-between;
            align-items: center;
            padding-bottom: 15px;
            margin: 5px;
            border-bottom: 2px solid var(--secondary-color);
            &__identity{
                display: flex;
                flex-flow: row nowrap;
                align-items: center;
                &__avatar{
                    font-size: 52px;
                    width: 50px;
                    height: 50px;
                    border-radius: 1.5em;
                    box-shadow: 0px 3px 6px rgb(94,94,94);
                    object-fit: cover;
                }
            }
        }
        &__body{
            display: flex;
            flex-flow: column nowrap;
            //width: 98%;
            margin: 10px;
            & iframe{
                //height: 25em !important;
            }
            & img,& iframe{
                //width: 100% !important;
            }
        }
        &__footer{
            display: flex;
            flex-flow: row wrap;
            align-items: center;
            justify-content: center;
            margin-top: 1em;
            & a{
                text-decoration: none;
                :visited{
                    color: var(--tertiary-color);
                }
            }
            & [class*="icon-"] {
                font-size: 35px;
                margin-left: 1em;
            }
        }
    }
</style>