<template>
    <div>
        <div class="main__title">
            <h2>Profile</h2>
        </div>
        <form class="profile">
            <fieldset>
                <legend>Avatar</legend>
                <img alt="image avatar" v-show="isImageFile || user.avatarURL" id="profile__avatar" class="profile__avatar" :src="user.avatarURL" />
                <i v-show="!isImageFile && !user.avatarURL" :class="['icon-user-circle-solid', 'profile__avatar', oldProfile.isAdmin ? 'btn--tertiary' : '']"></i>
                <label role="button" class="profile__load-avatar icon-folder-open btn" v-show="!oldProfile.isAdmin" for="avatar" title="charger un avatar"><span>Charger un avatar</span></label>
                <input id="avatar" name="avatar" type="file" @change="getPreview()" accept="image/png, image/jpeg, image/jpg, image/gif, image/svg">
                <label class="profile__avatarURL" for="avatarURL">URL de l'avatar</label>
                <input id="avatarURL" name="avatarURL" type="text">
            </fieldset>
            <fieldset>
                <legend>Identité</legend>
                <label for="pseudo">Pseudo :</label>
                <span id="errorPseudo" class="error_message">{{errorPseudo}}</span>
                <input id="pseudo" aria-label="Pseudo" name="pseudo" type="text" v-model="user.pseudo" placeholder="Pseudo" required><br>
                <label for="email">Courriel :</label>
                <span id="errorEmail" class="error_message">{{errorEmail}}</span>
                <input id="email" aria-label="Courriel" name="email" type="email" v-model="user.email" placeholder="Courriel" required>
            </fieldset>
            <fieldset>
                <legend>Modifier le mot de passe (* si nécessaire)</legend>
                <span id="errorPassword" class="error_message">{{errorPassword}}</span>
                <label for="currentPassword">Mot de passe actuel :</label>
                <input aria-label="Mot de passe actuel" id="currentPassword" type="password" v-model="password" placeholder="Mot de passe actuel" ><br>
                <label for="newPassword">Nouveau mot de passe :</label>
                <input id="newPassword" aria-label="Nouveau mot de passe" type="password" v-model="password1" placeholder="Nouveau mot de passe" ><br>
                <label for="password">Confirmer votre nouveau mot de passe :</label>
                <input id="password" aria-label="Confirmation du nouveau mot de passe"  name="password" type="password" v-model="password2" placeholder="Confirmation du nouveau mot de passe" ><br>
            </fieldset>
            <div class="profile__functions">
                <span id="errorMain" class="error_message">{{this.getError()}}</span>
                <i role="button" aria-label="Annuler" title="Annuler" @click="cancel" class="icon-cancel-circle btn btn--tertiary btn--scale btn--darken"></i>
                <label role="button" for="send" title="Modifier" class="icon-edit btn btn--darken btn--scale"><span>Modifier le profile</span></label>
                <input aria-label="Modifier le compte" id="send" type="submit" value="modifier" @click.prevent="controlForm()" >
                <i role="button" aria-label="Supprimer le compte" v-show="!oldProfile.isAdmin" class="icon-trash-alt btn btn--red btn--darken btn--scale" title="Supprimer le compte" @click="deleteProfile"></i>
            </div>
        </form>
    </div>
</template>

<script>
import { mapActions, mapGetters, mapState } from 'vuex';
import router from '../router';
export default {
    data:()=>{
        return {
            imageFile: {},
            password: "",
            password1: "",
            password2: "",
            errorPseudo: "",
            errorEmail: "",
            errorPassword: "",
            isError: false,
            isImageFile: false,
            oldProfile: {}
        }
    },
    computed:{
        ...mapState(['user','host','api'])
    },
    methods:{
        ...mapActions([
            'editProfile',
            'getProfile',
            'controlPassword',
            'isEmail',
            'isPseudo',
            'formatFileNameAvatar',
            'updateUserAuth',
            'deleteProfile',
            'updateError']),
            ...mapGetters([
            'getError']),
        getPreview(){
            const input = document.querySelector('#avatar');
            const imgAvatar = document.querySelector('#profile__avatar');
            this.imageFile = input.files[0];
            imgAvatar.src = URL.createObjectURL(this.imageFile);
            this.isImageFile = true;

        },
        async cancel(){
            await this.updateUserAuth(await this.getProfile({id: this.user.id}));
            document.querySelector('#profile__avatar').src = this.user.avatarURL;
            
            router.push("/");
        },
        async controlForm(){
            this.isError = false;
            this.errorPseudo = "";
            this.errorPassword = "";
            this.errorEmail = "";
            await this.updateError("");

            if(!this.user.pseudo || !await this.isPseudo(this.user.pseudo)){
                this.errorPseudo = "Le pseudo doit être de type alphanumérique";
                this.isError = true;
            }
            
            if(!this.user.email || !await this.isEmail(this.user.email)){
                this.errorEmail = "Le pseudo doit être de type alphanumérique";
                this.isError = true;
            }
            
            if(this.password1 && this.password2 && this.password1 === this.password2){
                
                if(this.password){
                    const passwordOk = await this.controlPassword({id: this.user.id, password: this.password});
              
                    if(!passwordOk)
                    {
                        this.isError = true;
                        this.errorPassword = `Votre ancien mot de passe est incorrect ${this.password}`;
                    }
                }
                else{
                    this.isError = true;
                    this.errorPassword = "Votre ancien mot de passe est requis";
                }
            }
            else if(this.password1 && this.password2 && this.password1 !== this.password2){
                this.isError = true;
                this.errorPassword = "Les mots de passe doivent correspondre";
            }

            if(this.isError){
                return;
            }
                
            const formData = new FormData();

            formData.append('id', this.user.id);
            formData.append('pseudo', this.user.pseudo);
            formData.append('email', this.user.email);
            
            var resp = Object;
            if(this.imageFile.name){
                formData.append('avatarURL', this.user.avatarURL);
                formData.append('avatar', this.imageFile);
                
                resp = await this.editProfile(formData);

                if(resp.filePath){
                    let avatarURL = resp.filePath;
                    this.user.avatarURL = avatarURL;
                    formData.delete('avatarURL');
                    formData.append('avatarURL', avatarURL);
                }
            }
            
            if(this.password2){ formData.append('password', this.password2); 
                this.user.password = this.password2;
            }

            formData.delete('avatar');
            resp = await this.editProfile(formData);

            if(resp.message){
                if(resp.message.includes('pseudo')){
                    this.errorPseudo = resp.message;
                    this.isError = true;
                }
                
                if(resp.message.includes('email')){
                    this.errorEmail = resp.message;
                    this.isError = true;
                }

                if(resp.message.includes('mot de passe')){
                    this.errorPassword = resp.message;
                    this.isError = true;
                }
            }

            if(!resp.isUpdated){
                this.updateError('profile non mis à jour');
            }

            if(!this.isError && resp.isUpdated){
                router.push("/");
            }
        }
    },
    async created(){
        this.oldProfile = await this.getProfile({id: this.user.id});
        //console.log(await this.oldProfile);
    }
}
</script>

<style lang="scss">
    .profile{
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        &__load-avatar{
            & span{
                display: none;
            }
        }
        & .error_message{
                color: var(--secondary-color);
                font-size: 10px;
            }
        & fieldset{
            display: flex;
            flex-flow: column wrap;
            justify-content: space-around;
            & label{
                font-size: small;
                margin: 5px 0;
            }
            &:not(:nth-child(1)){
                & label{
                    align-self: flex-start;
                }
            }
            &:nth-child(1){
                flex-flow: row nowrap;
                align-items: center;
            }
        }
        &__functions{
            display: flex;
            flex-flow: row wrap;
            justify-content: flex-end;
            align-items: center;
            margin: 10px 0px 10px 0px;
            & [class*=icon-]{
                margin-right: 15px;
            }
            & label span{
                display: none;
            }
                
        }
        &__avatar{
            font-size: 100px;
            width:100px;
            height: 100px;
            border-radius: 1.5em;
            object-fit: cover;
            object-position: 50% 10%;
        }
        & #avatar, #send, #avatarURL, &__avatarURL{
            display: none;
        }
        & .btn{
            font-size: 30px;
        }
        & #errorMain{
            margin-right: 10px;
        }
    }
</style>