<template>
<div>
    <div class="main__title">
        <h2>Connexion </h2>
    </div>
    <form>
        <span class="error_message">{{error}}</span>
        <label for="email">Votre email :</label>
        <input id="email" aria-label="email" type="email" v-model="email" placeholder="Courriel" /><br>
        <label for="password">Votre mot de passe :</label>
        <input id="password" aria-label="mot de passe" type="password" v-model="password" placeholder="Mot de passe" /><br>
        <i role="button" title="Se connecter" aria-label="se connecter" class="icon-checkmark btn btn--primary btn--darken btn--scale" @click="login({email,password})" ></i><br>
        
        <router-link aria-label="s'inscrire" to="/signup">S'enregistrer</router-link><br>
    </form>
</div>
</template>

<script>
import { mapActions, mapState } from "vuex";
//import store from "../store";

export default {
    data:()=>{
        return{
            email: "",
            password: ""
        }
    },
    methods:{
        ...mapActions(['login','logout'])
    },
    computed:{
        ...mapState(['isConnected','error'])
    },
    created(){
        this.logout();
    }
}
</script>

<style scoped lang="scss">
    .main__title{
        margin-top: 20px;
    }
    form{
        display: flex;
        flex-flow:column nowrap;
        margin-bottom: 10px;
        //height: 7em;
        justify-content: space-around;
        align-items: center;
        & label{
            margin: 10px 0;
            align-self: flex-start;
            font-size: small;
        }
        & > .error_message{
            color: var(--secondary-color);
            font-size: 10px;
        }
        & i[class^=icon-]{
            font-size: 30px;
        }
    }
</style>