<template>
    <div>
        <div class="main__title">
            <h2>S'enregistrer</h2>
        </div>
        <form class="profile" id="profile">
            <span class="error_message">{{error}}</span>
            <fieldset>
                <legend>Avatar</legend>
                <img v-show="isImageFile" id="avatarIMG" class="profile__avatar" />
                <i v-show="!isImageFile" class="icon-user-circle-solid profile__avatar"></i>
                <div class="profile__upload">
                    <label for="avatar" title="charger un avatar" class="icon-folder-open btn btn--darken"></label>
                    <input aria-label="Charger un avatar" id="avatar" type="file"  name="avatar" @change="getPreview()" accept="image/png, image/jpeg, image/jpg, image/gif, image/svg" >
                    <input id="avatarURL" name="avatarURL" type="text">
                </div>
            </fieldset>
            <fieldset>
                <legend>Identité</legend>
                <label for="pseudo">Pseudo :</label>
                <span id="errorPseudo" class="error_message">{{errorPseudo}}</span>
                <input aria-label="Définition du pseudo" id="pseudo" type="text" name="pseudo" v-model="pseudo" placeholder="Pseudo" required >
                <label for="email">Courriel :</label>
                <span id="errorEmail" class="error_message">{{errorEmail}}</span>
                <input aria-label="Définition du courriel" id="email" type="email" name="email" v-model="email" placeholder="Courriel" required ><br>
            </fieldset>
            <fieldset>
                <legend>Définir un mot de passe</legend>
                <span id="errorPassword" class="error_message">{{errorPassword}}</span>
                <label for="password">Mot de passe :</label>
                <input id="password" aria-label="Définition du mot de passe" type="password" name="password" v-model="password" placeholder="Mot de passe" required >
                <label for="confirmedPassword">Confirmer votre mot de passe :</label>
                <input id="confirmedPassword" aria-label="Confirmation du mot de passe" type="password" v-model="password2" placeholder="Confirmation de mot de passe" required ><br>
            </fieldset><br>
            <div class="profile__functions">
                <i aria-label="Annuler" title="Annuler" role="button" class="icon-cancel-circle btn btn--tertiary btn--darken btn--scale" @click="cancel"></i>
                <label for="send" title="S'enregistrer" class="icon-envelope btn btn--darken" ></label><br>
                <input aria-label="S'inscrire" id="send" type="submit" @click.prevent="controlForm()">
            </div>
            
        </form>
    </div>
</template>


<script>
import { mapActions,/*, mapState*/ 
mapState} from "vuex";
import router from "../router";
//import store from "../store";

export default {
    data:()=>{
        return{
            error: "",
            avatarURL: "",
            pseudo: "",
            email: "",
            password: "",
            password2: "",
            imageFile: File,
            isImageFile: false,
            errorPseudo: "",
            errorEmail: "",
            errorPassword: "",
        }
    },
    computed:{
        ...mapState(['host','api'])
    },
    methods:{
        ...mapActions(['login','signup','isEmail','isPseudo','getPseudoExist','getEmailExist','updateError']),
        cancel(){
            router.push("/signin");
        },
        async controlForm(){
            
            let isError = false;
            this.errorPseudo = "";
            this.errorPassword = "";
            this.errorEmail = "";

            if(!await this.isPseudo(this.pseudo)){
                this.errorPseudo = "Doit être alphanumérique de 4 à 10 caractères";
                isError = true;
            }
            else if(await this.getPseudoExist(this.pseudo)){
                this.errorPseudo = "Ce pseudo existe";
                isError = true;
            }

            if(!await this.isEmail(this.email)){
                this.errorEmail = "Le courriel doit correspondre au format e-mail";
                isError = true;
            }
            else if(await this.getEmailExist(this.email)){
                this.errorEmail = "Ce courriel existe";
                isError = true;
            }


            if(this.password !== this.password2){
                this.errorPassword = "Les mots de passe ne correspondent pas";
                isError = true;
            }

            if(!this.password || !this.password2){
                this.errorPassword = "Les mots de passe ne doivent pas être vides";
                isError = true;
            }

            if(isError){
                return;
            }
            
            const formData = new FormData();

            formData.append('pseudo', this.pseudo);
            formData.append('email', this.email);
            formData.append('password', this.password);

            
            if(this.imageFile.name){
                formData.append('avatarURL', this.avatarURL);
                formData.append('avatar', this.imageFile);
            }

            console.log('ca passe');
            const resp = await this.signup(formData);

            if(resp.message){
                if(resp.message.includes('pseudo')){
                    this.errorPseudo = resp.message;
                    isError = true;
                }
                
                if(resp.message.includes('email')){
                    this.errorEmail = resp.message;
                    isError = true;
                }
            }

            if(!isError){
                router.push("/signin");
            }
        },
        getPreview(){
            const input = document.querySelector('#avatar');
            const imgAvatar = document.querySelector('#avatarIMG');
            this.imageFile = input.files[0];
            this.isImageFile = true;
            imgAvatar.src = URL.createObjectURL(this.imageFile);

        }
    },
    created(){
        this.updateError("");
    }
}
</script>

<style scoped lang="scss">
    .main__title{
        margin-top: 20px;
    }
    .profile{
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        & label{
            align-self: flex-end;
            font-size: small;
        }
        & fieldset{
            display: flex;
            flex-flow: column wrap;
            justify-content: space-between;
            & > .error_message{
                color: var(--secondary-color);
                font-size: 10px;
            }
        }
        &__avatar{
            width:100px;
            height: 100px;
            font-size: 102px;
            border-radius: 2em;
            object-fit: cover;
            object-position: 50% 10%;
        }
        &__upload{
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
            & > label{
                margin-left: 0.5em;
            }
        }
        & #avatar, #sendAvatar, #send, #avatarURL{
            display: none;
        }
        & .btn{
            font-size: 30px;
        }
        &__functions{
            display: flex;
            flex-flow: row wrap;
            justify-content: flex-end;
            align-items: center;
        }
    }
</style>