.btn{
    transform-origin: center;
    text-shadow: 0px 2px 3px rgb(94,94,94);
    margin: 0;
    padding: 0;
    &:hover{
        cursor: pointer;
    }
    &--scale:active{
        transform: var(--scale);
    }
    &--darken:active{
        filter: contrast(50%);
    }
    &--green{
        color: rgb(57, 197, 57);
    }
    &--red{
        color: rgb(255, 0, 0);
    }
    &--primary{
        color: var(--primary-color);
    }
    &--secondary{
        color: var(--secondary-color);
    }
    &--tertiary{
        color: var(--tertiary-color);
    }
}