@charset "utf-8";

@font-face {
    font-family: 'outer';
    src:  url('../src/fonts/MADE_Outer_Sans_Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    //font-display: block;
  }
  
  /*****************************/
  /***********icomoon***********/
  /*****************************/
  @font-face {
    font-family: 'icomoon';
    src:  url('../src/fonts/icomoon.eot?8z5tkb');
    src:  url('../src/fonts/icomoon.eot?8z5tkb#iefix') format('embedded-opentype'),
      url('../src/fonts/icomoon.ttf?8z5tkb') format('truetype'),
      url('../src/fonts/icomoon.woff?8z5tkb') format('woff'),
      url('../src/fonts/icomoon.svg?8z5tkb#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon{
    &-keyboard:before {
      content: "\e900";
    }
    &-lock:before {
      content: "\e901";
    }
    &-cog:before {
      content: "\e902";
    }
    &-bin:before {
      content: "\e903";
    }
    &-bin2:before {
      content: "\e904";
    }
    &-switch:before {
      content: "\e905";
    }
    &-plus:before {
      content: "\e906";
    }
    &-minus:before {
      content: "\e907";
    }
    &-info:before {
      content: "\e908";
    }
    &-cancel-circle:before {
      content: "\e909";
    }
    &-blocked:before {
      content: "\e90a";
    }
    &-cross:before {
      content: "\e90b";
    }
    &-checkmark:before {
      content: "\e90c";
    }
    &-angle-left:before {
      content: "\e90d";
    }
    &-angle-right:before {
      content: "\e90e";
    }
    &-arrow-alt-circle-left:before {
      content: "\e90f";
    }
    &-arrow-alt-circle-right:before {
      content: "\e910";
    }
    &-chevron-circle-left:before {
      content: "\e911";
    }
    &-chevron-circle-right:before {
      content: "\e912";
    }
    &-chevron-left:before {
      content: "\e913";
    }
    &-chevron-right:before {
      content: "\e914";
    }
    &-comment:before {
      content: "\e915";
    }
    &-comment-alt:before {
      content: "\e916";
    }
    &-comment-alt_solid:before {
      content: "\e917";
    }
    &-comments:before {
      content: "\e918";
    }
    &-comment_solid:before {
      content: "\e919";
    }
    &-edit:before {
      content: "\e91a";
    }
    &-edit-solid:before {
      content: "\e91b";
    }
    &-envelope:before {
      content: "\e91c";
    }
    &-folder-open:before {
      content: "\e91d";
    }
    &-gitlab:before {
      content: "\e91e";
    }
    &-image:before {
      content: "\e91f";
    }
    &-image-regular:before {
      content: "\e920";
    }
    &-keyboard1:before {
      content: "\e921";
    }
    &-keyboard-solid:before {
      content: "\e922";
    }
    &-linkedin:before {
      content: "\e923";
    }
    &-linkedin-in:before {
      content: "\e924";
    }
    &-list:before {
      content: "\e925";
    }
    &-plus1:before {
      content: "\e926";
    }
    &-plus-circle:before {
      content: "\e927";
    }
    &-portrait:before {
      content: "\e928";
    }
    &-power-off:before {
      content: "\e929";
    }
    &-thumbs-down:before {
      content: "\e92a";
    }
    &-thumbs-down-solid:before {
      content: "\e92b";
    }
    &-thumbs-up:before {
      content: "\e92c";
    }
    &-thumbs-up-solid:before {
      content: "\e92d";
    }
    &-trash:before {
      content: "\e92e";
    }
    &-trash-alt:before {
      content: "\e92f";
    }
    &-user-circle:before {
      content: "\e930";
    }
    &-user-circle-solid:before {
      content: "\e931";
    }
    &-video:before {
      content: "\e934";
    }
    &-search:before {
      content: "\e932";
    }
    &-search-alt:before {
      content: "\e933";
    }
}
