@media screen and (max-width: 1024px){ 
    body{
        width: 100%;
        margin:0;
    }

    .main .main__menu{
        flex-flow: column nowrap;
        justify-content: space-around;
    }

    .main .main__messages{
        width: 90%;
    }

    .main__messages .message{
        width: 90%;
    }
    .main > header.header{
        border-radius: 0;
    }
    .header__login__search > [class*="icon-"]{
        margin-left: 0px;
    }
    .main > header.header .header__login__menu{
        top:60px;
    }

    .header__login > i{
        order: 2;
    }

    .header__login__search{
        order: 1;
        font-size: 20px;
    }

    #checkSearch:checked + #searchMessage{
        opacity: 1;
        width: 150px;
    }
}

@media screen and (max-width: 900px){
    .main > .menu{
        top: 10.5em;
    }
}

@media screen and (max-width: 770px){
    .main {
        & footer.footer{
            border-radius: 0;
        }
    }
    .main > header.header .header__login__menu{
        top: 127px;
    }
    .message__header{
        flex-flow: column nowrap;
    }

    .message__header__identity__avatar{
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 540px){
    .header{
        flex-flow: column nowrap;
    }
    .message__header{
        justify-content: flex-start;
    }
    .message__header__avatar{
        margin-bottom: 5px;
    }
    .main > header.header .header__login__menu{
        top: 125px;
        right: 62px;
    }
}

@media screen and (max-width: 450px){
    .main > header.header .header__login__menu{
        top: 125px;
        right: 60px;
    }

    .main > .menu{
        top:14.5em;
    }
}