<template>
  <div id="app">

    <!--<div id="nav">
      <router-link to="/">Accueil</router-link> |
      <router-link to="/about">A propos</router-link>
    </div>-->
    <div class="main">
      <Header  msg="Social Network" />
      <Menu v-if="getIsConnected" />
      <router-view/>
      <Footer />
    </div>
  </div>
</template>

<script>
import Header from "@/components/Header.vue";
import Footer from "./components/Footer.vue";
import Menu from "./components/Menu.vue";
import { mapGetters/*, mapState*/ } from 'vuex';

export default {
  components:{
    Header,
    Footer,
    Menu
  },
  computed:{
    //...mapState(['user']),
    ...mapGetters(['getUserAuth','getIsConnected'])
  },
  methods: {
    
  },
}

</script>

<style lang="scss">
@charset "utf-8";
@import "./sass/variables.scss";

html{
    display: flex;
    flex-flow: column nowrap;
    margin:auto;
    width: 100%;
    align-items: center;
    font-family: outer;
}

body{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 80%;
    border-radius: 1.5em;
    box-shadow: 0px 6px 12px rgb(94, 94, 94);
}

h1,h2,h3,h4,h5,h6{
    color: var(--secondary-color);
    margin: 10px;
}

#app{
  width: 100%;
}

.main{
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    overflow: visible;
    background-color: rgb(255, 255, 255);
    color: var(--primary-color);
    background: var(--background-color);
    z-index: 10;
    border-radius: 1.5em;
}
    
@import "./sass/button.scss";
@import "./sass/fonts.scss";
@import "./sass/media-queries.scss";
</style>
